@font-face {
    font-family: 'XDPrime';
    src: url('/fonts/XDPrime-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'XDPrime Bold';
    src: url('/fonts/XDPrime-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
body {
    font-family: 'XDPrime';
}


a {
  color: #004680; /* Default button background color */
  text-decoration:none
}
a:hover {
  font-family: 'XDPrime Bold';
  color: #005194; /* Hover state background color */
  text-decoration:none
}
a:active {
  color: #0060B4; /* Active state background color */
  text-decoration:none
}
 /* Custom button styles */
.btn-primary {
    background-color: #004680; /* Default button background color */
    color: white; /* Text color */
      border: none; /* Menghapus border */
    outline: none; /* Menghapus outline */
  }
  .btn-primary:hover {
    background-color: #005194; /* Hover state background color */
  }
  .btn-primary:active {
    background-color: #0060B4; /* Active state background color */
  }
  .btn-primary:disabled{
    background-color: #C4D4E3; /* Warna latar baru */
    color: #627382; /* Warna teks baru */
    cursor: not-allowed; /* Ubah kursor menjadi tanda dilarang */
}


  .btn-secondary {
    background-color: #149FA9; /* Default button background color */
    color: white; /* Text color */
      border: none; /* Menghapus border */
    outline: none; /* Menghapus outline */
  }
  .btn-secondary:hover {
    background-color: #1C656E; /* Hover state background color */
  }
  .btn-secondary:active {
    background-color: #0C3840; /* Active state background color */
  }


  .page-link {
    color: #005194; /* Active state background color */
  }
  .page-link:hover {
    background-color: #0060B4; /* Hover state background color */
    color: white;
    border-color:  #0060B4;
  }
  
  .page-item.active .page-link {
    background-color: #005194; /* Warna latar belakang untuk item aktif */
    color: white;
    border-color:  #005194; /* Warna teks untuk item aktif */
}



/* CSS untuk memperbesar ikon */
.icon-large {
  width: 24px;  /* Ganti dengan ukuran yang diinginkan */
  height: 24px; /* Ganti dengan ukuran yang diinginkan */
}

/* CSS untuk memperbesar teks */
.text-large {
  font-size: 1.25rem; /* Mengubah ukuran font */
  line-height: 1.5; /* Mengatur tinggi baris */
}

/* Menambah padding jika diperlukan */


/* Custom alert style */

.alert-warning {
    position: fixed; /* Menggunakan posisi absolute */
    top: 20px; /* Menentukan jarak dari atas halaman */
    left: 50%; /* Menempatkan di tengah secara horizontal */
    transform: translateX(-50%); /* Menggeser kembali ke tengah secara horizontal */
    color: black;
    background: linear-gradient(to right, #ebd5b8, #eff9fe);
    border: none;
    z-index: 1050;
}

.alert-danger {
    position: fixed; /* Menggunakan posisi absolute */
    top: 20px; /* Menentukan jarak dari atas halaman */
    left: 50%; /* Menempatkan di tengah secara horizontal */
    transform: translateX(-50%); /* Menggeser kembali ke tengah secara horizontal */
    color: black;
    background: linear-gradient(to right, #ebc1c5, #eff9fe);
    border: none;
    z-index: 1050;
}

.alert-primary {
    position: fixed; /* Menggunakan posisi absolute */
    top: 20px; /* Menentukan jarak dari atas halaman */
    left: 50%; /* Menempatkan di tengah secara horizontal */
    transform: translateX(-50%); /* Menggeser kembali ke tengah secara horizontal */
    color: black;
    background: linear-gradient(to right, #9dbad0, #eff9fe);
    border: none;
    z-index: 1050;
}

.alert-success {
    position: fixed; /* Menggunakan posisi absolute */
    top: 20px; /* Menentukan jarak dari atas halaman */
    left: 50%; /* Menempatkan di tengah secara horizontal */
    transform: translateX(-50%); /* Menggeser kembali ke tengah secara horizontal */
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #a4dac5, #eff9fe);
    border: none;
    z-index: 1050;
}